{% if not cookie_consent %}
    <style>
        .cookie_notice_block {
            display: flex;
            align-items: center;
            justify-content: center;
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 60px;
            background-color: {{ block_color }};
            color: {{ text_color }};
            font-size: 22px;
            z-index: 1;
        }
        .cookie_notice_block > p { margin: 0; }
        .cookie_notice_block > button {
            background-color: transparent;
            background-repeat: no-repeat;
            margin-left: 10px;
            padding: 5px 10px;
            border-color: {{ button_color }};
            color: {{ button_color }};
        }
        .cookie_notice_block > button:hover {
            border-color: {{ button_color_on_hover }};
            color: {{ button_color_on_hover }};
        }
        @media only screen and (max-width: 767px) {
            .cookie_notice_block {
                font-size: 16px;
                padding: 0 10px;
            }
            .cookie_notice_block > p {
                text-align: center;
            }
            .cookie_notice_block > button {
                white-space: nowrap;
            }
        }
    </style>

    <script>
        $(document).ready(function() {
            $('.cookie_notice_block > button').click(function() {
                var currentDate = new Date();
                var expires = new Date(
                    currentDate.getFullYear() + 1,
                    currentDate.getMonth(),
                    currentDate.getDay()
                ).toString();

                document.cookie = 'cookie_consent=1; expires=' + expires + '; path=/';
                $(this).parent().remove();
            })
        });
    </script>

    <div class="cookie_notice_block">
        <p>{{ consent_text }}</p>
        <button>{{ consent_button }}</button>
    </div>
{% endif %}