<style>
    .navbar {margin-top: 30px;}
    @media only screen and (min-width: 767px) {
        .navbar li:hover {background-color: #e7e7e7;}
        .navbar-collapse {padding-left: 0;}
        .navbar-right {height: 52px;}
        .navbar-right li {height: 100%;}
    }
    .navbar .dropdown .fa-th-large {margin-right: 8px; font-size: 22px;}
    .navbar .dropdown > a {display: flex; align-items: center;}
    .navbar a {font-size: 16px;}
</style>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#navbar"
                    aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">{{ toggle_navigation }}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#"
                       class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        <i class="fa fa-th-large" aria-hidden="true"></i>
                        {{ all_categories_button_text }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% for category in categories %}
                            <li>
                                <a href="{{ category.href }}">{{ category.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% for page in pages %}
                    <li><a href="{{ page.href }}">{{ page.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>